// Variables

/* Colors */
$brown: #54504b;
$white: #fff;
$lightgreen: #eaefe4;
$green: #d8ded2;
$blue: #53718e;
$yellow: #ffcc00;
$grey: #c6cdc0;
$lightgray: #e7ecef;

/* Sizes */
$font-size-menu: 14pt;
$font-size-menu-icons: 22pt;
