@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import '../vendor/bootstrap/stylesheets/bootstrap.scss';

html,
  body {
    width: 100%;
    height: 100%;
}

body {
  font-family: "Montserrats","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #666;
  background-color: whitesmoke;
}

/* Override Bootstrap */


.navbar{

  &>div:last-child{
    .make-pull-right;
  }

  .navbar-inverse{
    &>div:first-child{
      @include container-fixed;
    }
  }
}
