  @import '_reset.scss';
  @import '_fonts.scss';
  @import '_mixins.scss';
  @import '_variables.scss';

 body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #666;
  background-color: whitesmoke;
}

html {
    width: 100%;
    height: 100%;
}
