@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import '../vendor/bootstrap/stylesheets/bootstrap.scss';
@import "blog.scss";

html,
  body {
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #666;
  background-color: $lightgreen;
}

/* Override Bootstrap */

p {
  font-weight: lighter;
  color: $blue;
  font-size: 18px;
  margin: 0 0 20px;
}

.navbar{

  &>div:last-child{
    //.make-pull-right;
  }

  .navbar-inverse{
    &>div:first-child{
      @include container-fixed;
    }
  }
}
