
main#loja{
  color: $brown;
  .title {
    background: url('../images/loja-topo.jpg') no-repeat center center;
    height: 450px;
    position: relative;
    text-align: center;

    a{
      color: $white;
      font-size: 1.5em;
      font-weight: bold;
      margin: 20px;
    }

    .container-block{
      position: absolute;
      padding-top: 110px;
      max-width: 700px;
      width: 700px;
      left: 50%;
      margin-left: -350px;
      color: $white;
      z-index: 2;

      span{
        b{
          font-size: 1.2em!important;
        }
        font-size: 3.2em;
      }

      .dash{
        width: 148px;
        height: 8px;
        background-color: $white;
        position: relative;
        left:50%;
        margin-left: -74px;
      }

      ul{
        margin: 20px;
      }

    }
    .opacity {
      opacity: 0.6;
      background-color: $brown;
      height: 100%;
      z-index: 0
    }
  }

  .equalize{
    div{
      position: absolute;
      width: 100%;
      bottom:0;
    }
  }

  .container{
    text-align: center;
    .row{

      div.equalize{
        margin: 20px auto;
      }
    }
  }
}
