#personalize {
  color: $blue;
  .col-xs-2-5 {
    width: 20%;
    float: left;
  }
  .yellow-bg {
    background-color: $yellow;
  }
  .container {
    padding-top: 30px;
  }
  h1 {
    font-size: 50px;
    padding: 30% 0 0;
  }
  p {
    text-align: center;
    font-size: 16px;
  }
  input, textarea, select {
    width: 100%;
    color: $blue;
    font-size: 16px;
    margin: 5px 0;
    padding: 5px 10px;
  }
  .prod-buttons {
    margin-bottom: 10px;
    span {
      display: inline-block;
      text-align: center;
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;
      width: 45%;
      font-size: 16px;
      &:first-child {
        margin-right: 9%;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
    }
  }

  .inputfile {
    position: relative;
    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      margin: 0;
      cursor: pointer;
    }
    a {
      cursor: pointer;
      background-color: $blue;
      color: $white;
      font-size: 16px;
      padding: 5px;
      width: 100%;
      display: block;
      text-decoration: none;
      margin: 5px 0;
      font-style: italic;
    }
  }
  button.submit {
    background-color: $yellow;
    border: none;
    margin: 5px auto;
    font-size: 22px;
    display: block;
  }
  .codprod {
    font-style: italic;
  }
  .duvidas {
    font-size: 24px;
  }
  .telefone {
    font-size: 40px;
    color: $black;
  }
}