#quem-somos {
  color: $blue;
  .img-banner {
    background: url('../images/quem-somos/topo.jpg') no-repeat center center;
    height: 710px;
  }
  .title {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    h1 {
      background-color: $blue;
      color: $white;
      display: inline-block;
      padding: 0 10px 10px;
      font-size: 46px;
      margin: 0;
    }
  }
  p {
    font-size: 16px;
    text-align: justify;
  }
}